* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2rem;
}
.header-title {
  color: #000;
  font-family: PT Serif;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: -1.62px;
}
.description > h4 {
  color: #000;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem;
}
.description > p {
  color: #000;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem;
  margin-top: 0.3rem;
}
.body-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 2rem 2rem;

  /* justify-content: center;
  align-content: center; */
}
.body-container,
.member {
  min-width: 300px;
  margin: auto;
  margin-bottom: 4rem;
  position: relative;
}
.member img {
  width: 90%;
  height: 100%;
}
.member span {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: absolute;
  top: 0;
  right: 0;
}
/* .member :nth-child(3n + 2) {
  margin-bottom: 0;
  margin-top: 10rem;
} */
.member:nth-child(3n + 2) {
  margin-top: 5rem;
  margin-bottom: 0;
}

/* .member img::after {
  content: "Product ";
} */
/* .member:first-child:after {
  content: "Product owner";
}
.member:nth-child(2)::after {
  content: "Art director";
}
.member:nth-child(3)::after {
  content: "Tech Lead";
}
.member:nth-child(4)::after {
  content: "UX Designer";
}
.member:nth-child(5)::after,
.member:nth-child(6)::after {
  content: "Developer";
}
.member::after {
  color: #000;
  position: absolute;
  text-transform: uppercase;
  right: -4rem;
  top: 3rem;
  transform: rotate(90deg);
} */
@media screen and (max-width: 786px) {
  .header-container {
    flex-direction: column;
  }
  .body-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem 4rem;
  }
  .member:nth-child(2n + 2) {
    margin-bottom: 0;
    margin-top: 5rem;
  }
}
